<div class="container">

<p class="title">TAKE WRLD</p>




<!--インスピ-->
<div class="insp">

<div class="insp_video_wrapper">
<video poster="/about_top2.jpg" playsinline src="/about_movie.mp4" type="video/mp4" controls></video>
</div>

<div class="insp_letter">
<p class="first">自分の創作物やインスピレーションを貰ったことを共有するアプリです。</p>
<p class="second">DM機能を利用して自分が気に入ったユーザーと繋がれたり、検索機能を利用して自分が望む作品と出会うことが可能です。</p>
<p class="third">クリエイター同士がSNS感覚で気軽にinspirationを与え合える環境を目指して開発中。アプリ名は、名付けて”insp”です。</p>
<p class="fourth"><%=link_to("https://limitless-everglades-17511.herokuapp.com/","https://limitless-everglades-17511.herokuapp.com/")%><p>
</div>

</div>
<!--インスピ-->






<!--youtube-->
<div class="youtube">
<div class="youtube_wrapper">
<iframe playsinline src="https://www.youtube.com/embed/89GyvB5fX1Y" type="video/mp4" controls></iframe>
</div>
<div class="youtube_letter_wrapper">
<p class="youtube_letter">listen to my music<i class="fas fa-headphones"></i><i class="fas fa-music"></i></p>
<p class="youtube_link"><%=link_to("https://youtu.be/89GyvB5fX1Y","https://youtu.be/89GyvB5fX1Y")%></p>
</div>
</div>
<!--youtube-->





<div class="background-img">
<img src="/take.jpg" class="img">
</div>

</div>
